<div id="home" class="lg:flex flex-row-reverse max-h-screen md:max-h-md xl:max-h-screen">

  <div class="bg-main-visual bg-cover bg-main lg:bg-left maxLg:min-w-full lg:w-2/4 h-screen md:h-80">
    <% if Rails.env.production? %>
      <%# public %>
      <%= image_tag "/assets/images/main_visual.jpg", alt: "main visual", id: "public", class: "h-screen object-cover translate-y-0" %>  
    <% end %>                
  </div>

  <div class="m-auto transform -translate-y-34 md:-translate-y-40 lg:-translate-y-0 z-50">
    <h2 class="text-center mb-8 text-2xl text-add-base lg:text-add-text">あなたの声を聞かせよう</h2>

    <div class="w-4/5 mx-10% h-auto p-8 bg-add-base rounded flex flex-wrap bg-opacity-50">

      <button class="<%=btn%>">
        <%= link_to "新規登録", new_user_registration_path, data: {"turbolinks" => false},
            class: btnLink %>
      </button>

      <button class="<%=btn%> mt-8">
        <%= link_to "ログイン", new_user_session_path, data: {"turbolinks" => false},
            class: btnLink %>
      </button>

      <button class="<%=btn%> mt-8">
        <%= link_to "投稿を聞く", voices_path, data: {"turbolinks" => false},
            class: btnLink %>
      </button>

      <button class="<%=btn%> mt-8">
        <%= link_to "お題を見る", works_path, data: {"turbolinks" => false},
            class: btnLink %>
      </button>

    </div>
  </div>

</div>