<% @user.works.each do |work| %>
  <div class="<%= item %>", id="work_<%= work.id %>">
    <h3 class="<%= subTitle %> border-b-2 border-add-text border-opacity-25 mb-2">
      <%= link_to work.title, work, data: {"turbolinks" => false}  %>
    </h3>
    <p><%= work.content %></p>
    <% if current_user %>
      <div class="flex mt-6">
    
        <div class="mr-2 pr-2 border-r-2 border-add-text border-opacity-50">
          <% if current_user.workliked_by?(work.id) %>
            <%= link_to destroy_worklike_path(work), method: :DELETE, remote: true do %>
              <p>お気に入り<i class="fas fa-star pr-2"></i><%= work.workLikes.count %></p>
            <% end %>
          <% else %>
            <%= link_to create_worklike_path(work), method: :POST, remote: true do %>
              <p>お気に入り<i class="far fa-star pr-2"></i><%= work.workLikes.count %></p>
            <% end %>
          <% end %>
        </div>
    
        <div>
          <p>投稿ボイス<i class="fas fa-microphone pr-2"></i><%= work.voices.count %></p>
        </div>
    
        <div class="text-sm opacity-75 ml-auto">
          <%= link_to "…", work, data: {"turbolinks" => false} %>
        </div>
    
      </div>
    <% end %>
  </div>
<% end %>

