<h1 class="<%= pageTitle %>">お題内容を編集</h1>

<%= render 'shared/error_messages' %>


<%= form_with(model: @work, local: true) do |f| %>
  
  <div class="<%=form%>">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class:formInput %>
  </div>

  <div class="<%=form%>">
    <%= f.label :お題詳細 %>
    <%= f.text_area :content, class:formInput  %>
  </div>

  <div class="text-count">
    <p class="work-text-count"></p>
  </div>

  <div class="<%= formBtn %>">
    <%= f.submit "編集完了", class:submit , id: "update" %>
  </div>
<% end %>