<h1 class="title">お題内容を編集</h1>

<%= render 'shared/error_messages' %>
<div class="Form">
  <%= form_with(model: @work, local: true) do |f| %>

    
    <div class="Form-Item">
      <%= f.label :タイトル, class:"Form-Item-Label" %>
      <%= f.text_field :title, class:"Form-Item-Input" %>
    </div>

    <div class="Form-Item">
      <%= f.label :お題詳細, class:"Form-Item-Label" %>
      <%= f.text_area :content, class:"Form-Item-Textarea work-text" %>
    </div>

    <div class="text-count">
      <p class="work-text-count"></p>
    </div>

    <%= f.submit "編集完了", class:"Form-Btn", id: "update" %>

  <% end %>
</div>