

  <h1 class="<%=pageTitle%>">投稿お題</h1>
  
  <%= will_paginate %>
  
    <% @works.each do |work| %> 
        <div class="<%= item %>", id="work_<%= work.id %>">
          <%= render 'work', work: work %>
        </div>
    <% end %>
  
  <%= will_paginate %>