<%= render 'shared/error_messages' %>

<div class="work">
  <h1 class="title"><%= @work.title %></h1>
  
  <p><%= @work.content %></p>
  <% if current_user == @work.user %>
    <%= link_to "編集する", edit_work_path(@work), data: {"turbolinks" => false} %> 
    <%= link_to "削除する", @work, method: :delete, data: { confirm: "削除しますか?"} %>
  <% end %>
</div>

<div class="voice-form">
  <%= form_with(model: [@work, @voice], local: true) do |f| %>
    <%= f.hidden_field :work_id, value: @work.id %>
    <div class="field">
      <%= f.label :このお題に投稿する %>
      <%= f.file_field :voice_data %>
    </div>
  
    <%= f.submit "ボイス投稿", class:"Form-Btn", id:"submission" %>
  <% end %> 
</div>

<div class="voice">
  <% @voices.each do |voice| %>
    <%= link_to "#{voice.user.name}", user_path(voice.user), data: {"turbolinks" => false}  %>
    <%= audio_tag voice.voice_data.url %>
    <%= link_to "コメント", voice_path(voice), data: {"turbolinks" => false} %>
    <% if current_user == voice.user %>
      <%= link_to "ボイスを削除する", voice, method: :delete, data: { confirm: "ボイスを削除しますか?"} %>
    <% end %>
  <% end %>
</div>