<h1 class="title"><%= @work.title %></h1>
<%= render 'shared/error_messages' %>
<p><%= @work.content %></p>
<% if current_user == @work.user %>
  <%= link_to "編集する", edit_work_path(@work), data: {"turbolinks" => false} %> 
  <%= link_to "削除する", @work, method: :delete, data: { confirm: "削除しますか?"} %>
<% end %>

<%= form_with(model: [@work, @voice], local: true) do |f| %>
  <%= f.hidden_field :work_id, value: @work.id %>
  <div class="field">
    <%= f.label :このお題に投稿する %>
    <%= f.file_field :voice_data %>
  </div>

  <%= f.submit "ボイス投稿", class:"Form-Btn", id:"submission" %>
<% end %> 

<% @voices.each do |voice| %>
  <%= voice.user.name %>
  <%= audio_tag voice.voice_data.url %>
  <% if current_user == voice.user %>
    <%= link_to "ボイスを削除する", voice, method: :delete, data: { confirm: "ボイスを削除しますか?"} %>
  <% end %>
<% end %>
