<h1 class="title">プロフィール編集</h1>

<div class="Form">
  <%= form_with(model: @user, local: true) do |f| %>
    
    <%= render 'shared/error_messages', object: f.object %>

    <div class="Form-Item">
      <%= f.label :名前, class:"Form-Item-Label" %>
      <%= f.text_field :name, class:"Form-Item-Input" %>
    </div>

    <div class="Form-Item">
      <%= f.label :メールアドレス, class:"Form-Item-Label" %>
      <%= f.email_field :email, class:"Form-Item-Input" %>
    </div>

    <div class="Form-Item">
      <%= f.label :紹介文, class:"Form-Item-Label" %>
      <%= f.text_area :introduction_text, class:"Form-Item-Textarea user-text" %>
    </div>
    <div class="text-count">
      <p class="user-text-count"></p>
    </div>


    <div class="field">
      <%= f.label :プロフィール画像 %>
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :ボイスサンプル %>
      <%= f.file_field :voice_s %>
    </div>

    <div class="Form-Item">  
      <%= f.label :パスワード, class:"Form-Item-Label" %>
      <%= f.password_field :password, class:"Form-Item-Input" %>
    </div> 

    <div class="Form-Item">
      <%= f.label :パスワード確認, class:"Form-Item-Label" %>
      <%= f.password_field :password_confirmation, class:"Form-Item-Input" %>
    </div>

    <%= f.submit "送信する", class:"Form-Btn" %>

  <% end %>
</div>