

  <h1 class="<%= pageTitle %>">プロフィール編集</h1>
  
  <%= render 'shared/error_messages' %>

  <%= form_with(model: @user, local: true) do |f| %>


    <div class="<%=form%>">
      <%= f.label :名前, class:"text-add-text" %>
      <%= f.text_field :name, class:formInput %>
    </div>

    <div class="<%=form%>">
      <%= f.label :メールアドレス, class:"text-add-text" %>
      <%= f.email_field :email, class:formInput %>
    </div>

    <div class="<%=form%>">
      <%= f.label :紹介文, class:"text-add-text" %>
      <%= f.text_area :introduction_text, class:formInput %>
    </div>
    <div class="text-count">
      <p class="user-text-count"></p>
    </div>


    <div class="text-add-text">
      <%= f.label :プロフィール画像 %>
      <%= f.file_field :avatar %>
    </div>

    <div class="text-add-text">
      <%= f.label :ボイスサンプル %>
      <%= f.file_field :voice_s %>
    </div>

    <div class="<%= formBtn %>">
      <%= f.submit "編集する", class:submit , id:"editing" %>
    </div>

  <% end %>
