<h1 class="<%= pageTitle %>">フォロワー</h1>
  
<%= will_paginate %>

<% if @users.any? %>
  <div class="items">
    <% @users.each do |user| %>
      <div class="<%= item %> flex flex-col", id="user_<%= user.id %>">
        <%= render user, user: user %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class ="<%= subTitle %>">現在フォロワーはいません</p>
<% end %>

<%= will_paginate %>