<h1 class="<%= pageTitle %>">登録ユーザー</h1>

<%= will_paginate %>


  <% @users.each do |user| %>
    <div class="<%= item %> flex flex-col", id="user_<%= user.id %>">
      <%= render user, user: user %>
    </div>
  <% end %>


<%= will_paginate %>