<h1 class="h1">List of Voice Actors</h1>

<%= will_paginate %>

<div class="users">
  <% @users.each do |user| %>
    <div class="one-user">
      <%= image_tag user.avatar.url, size: 150 %>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete, data: { confirm: "削除しますか?" } %>
      <% end %>
      <audio controls><sorce src="#" alt="この声優のボイスサンプルです"></audio>
    </div>
  <% end %>
</div>

<%= will_paginate %>