  <% if current_user == @user %> 
    <h1 class="<%= pageTitle %>">MyPage</h1>
  <% elsif current_user != @user %>
    <h1 class="<%= pageTitle %>">Profile</h1>
  <% elsif current_user == nil %>
    <h1 class="<%= pageTitle %>">Profile</h1>
  <% end %>
  
  <div class="">
    <div class="">
      <%= image_tag @user.avatar.url, size:250, class:"m-auto" %>
    </div>

    <div class="">
      <h1>
        <p class="<%= subTitle %> mb-2"><%= @user.name %></p>
        <p class="mb-2"><%= @user.introduction_text %></p>
      </h1>
    </div>
  
    <div class="">
      <div class="text-center">
        <%= render 'shared/stats' %>
      </div>
      <%= render 'follow_form' if user_signed_in? %>
    </div>
 
    <% if @user.voice_s? %>
      <div class="mb-6">
        <h2 class="<%= subTitle %>">Voice Smple</h1>
        <%= audio_tag @user.voice_s.url %>
      </div>
    <% end %>
  
    <% if @user.voices.any? %>
      <div class="mb-6">
        <h2 class="<%= subTitle %> mb-2">投稿したボイス</h1>
        <%= render 'voices/user_voices' %>
      </div>
    <% end %>

    <% if @user.works.any? %>
      <div>
        <h2 class="<%= subTitle %> mb-2">投稿したお題</h1>
        <%= render 'works/user_works' %>
      </div>
    <% end %>
  
  </div>
