<h1 class="<%= pageTitle %>">いいねしたボイス</h1>

<% if @voicelikes.any? %>

  <% @voicelikes.each do |likes| %>
    <% voice = Voice.find_by(id: likes.voice_id) %>
    <div class="<%= item %> flex", id="voice_<%= voice.id %>">
      <%= render "/voices/voice", voice: voice %>
    </div>
  <% end %>

<% else %>

  <p class ="<%= subTitle %>">いいねした投稿はありません</p>

<% end %>