<h1 class="<%= pageTitle %>">お気に入りしたお題</h1>

<% if @worklikes.any? %>

  <% @worklikes.each do |likes| %>
    <% work = Work.find_by(id: likes.work_id) %>
    <div class="<%= item %>", id="work_<%= work.id %>">
      <%= render "/works/work", work: work %>
    </div>
  <% end %>
<% else %>
  <p class ="<%= subTitle %>">お気に入りしたお題はありません</p>
<% end %>
  