<title>Voice Cloud</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<link rel="stylesheet" href="https://rsms.me/inter/inter.css" %>
<link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/c1baf896a0.js" crossorigin="anonymous"></script>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/audiojs/1.0.1/audio.min.js"    integrity="sha512-n1UxE3D0oAro7q72ZVxyGIUqB3DBt+cYVNujO4yFXm74LVPkzUUgPyP5UGEkDEDAMGLNkDo4BnIMrE/M8b5lCw==" crossorigin="anonymous"></script>
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

<style type="text/css" title="audiojs">
  .audiojs {
    width: 100%;
    border-radius: 0.25rem;
  }
  .audiojs .scrubber {
    display: none;
  }
  .audiojs .time {
    margin: 0;
    border: none;
  }
  .audiojs .play-pause {
    width: 37px;
  }
</style>
