

  <h1 class="<%= pageTitle %>">投稿ボイス</h1>
  
  <%= will_paginate %>
  
    <% @voices.each do |voice| %>
      <div class="<%= item %> flex", id="voice_<%= voice.id %>">
        <%= render 'voice', voice: voice %>
      </div>
    <% end %>
  
  <%= will_paginate %>
