<h1 class="title">投稿ボイス</h1>

<%= will_paginate %>

<div class="items">
<% @voices.each do |voice| %>
  <div class="one-item">
    <%= image_tag voice.user.avatar.url, size: 150 %>
    <h2><%= link_to "#{voice.work.title}", work_path(voice.work) %></h2>
    <%= link_to "#{voice.user.name}", user_path(voice.user) %>
    <%= audio_tag voice.voice_data.url %>
  </div>
<% end %>
</div>

<%= will_paginate %>