

  <h1 class="<%= pageTitle %>">ログイン</h1>

  <%= render "devise/shared/error_messages", resource: resource %>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>

    <div class="<%=form%>">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", 
          class:formInput, placeholder:"メールアドレス" %>
    </div>
  
    <div class="<%=form%>">
      <%= f.password_field :password, autocomplete: "current-password", 
          class:formInput, placeholder:"パスワード" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="<%=form%>">
        <%= f.check_box :remember_me, class:"rounded-full" %>
        <%= f.label :remember_me, class: "text-add-text" %>
      </div>
    <% end %>
  
    <div class="<%= formBtn %>">
      <%= f.submit "ログイン", class: submit, id:"login" %>
    </div>
     
    <div class="text-center mt-4">
      <%= link_to "登録がお済みでない方はこちら", new_user_registration_path, data: {"turbolinks" => false} %>
    </div>
  <% end %>
