<% if flash[:notice] %>
  <div class="info messages2">
    <p class="notice message"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="danger messages2">
    <p class="alert message"><%= alert %></p>
  </div>
<% end %>

<header>
  <h1 class="copy">  
    <%= link_to "Voice Cloud", root_path %>
  </h1>
  <nav class="pc-nav">
    <ul>
      <% if user_signed_in? %>
      
        <li><%= link_to "お題を投稿する", new_work_path,
                                          data: {"turbolinks" => false} %></li>

        <li><%= link_to "お題を探す", works_path %></li>

        <li><%= link_to "声優を探す", users_path, 
                                      data: {"turbolinks" => false} %></li>

        <li><%= link_to "プロフィール", current_user, 
                                        data: {"turbolinks" => false} %></li>

        <li><%= link_to "プロフィール編集", edit_user_path(current_user), 
                                            data: {"turbolinks" => false} %></li>

        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>

      <% else %>
        <li><%= link_to "ログイン", new_user_session_path %></li><!--login_path-->
        <li><%= link_to "新規登録", new_user_registration_path %></li>  <!--signup_path-->
      <% end %>
    </ul>
  </nav>
</header>
