<header>
  <h1 class="copy">  
    <%= link_to "Voice Cloud", root_path %>
  </h1>
  <nav class="pc-nav">
    <ul>
      <% if logged_in? %>
      
        <li><%= link_to "お題を投稿する", new_work_path,
                                          data: {"turbolinks" => false} %></li>

        <li><%= link_to "お題を探す", works_path %></li>

        <li><%= link_to "声優を探す", users_path, 
                                      data: {"turbolinks" => false} %></li>

        <li><%= link_to "プロフィール", current_user, 
                                        data: {"turbolinks" => false} %></li>

        <li><%= link_to "プロフィール編集", edit_user_path(current_user), 
                                            data: {"turbolinks" => false} %></li>

        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>

      <% else %>
        <li><%= link_to "ログイン", login_path %></li>
        <li><%= link_to "新規登録", signup_path %></li>
      <% end %>
    </ul>
  </nav>
</header>