<!DOCTYPE html>
<html>
  <head>
    <title><% yield(:title) %>Voice Cloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/audiojs/1.0.1/audio.min.js" integrity="sha512-n1UxE3D0oAro7q72ZVxyGIUqB3DBt+cYVNujO4yFXm74LVPkzUUgPyP5UGEkDEDAMGLNkDo4BnIMrE/M8b5lCw==" crossorigin="anonymous"></script>
    <script>
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
    </script>
  </head>


  <body>
    <%= render 'layouts/header' %>
    <div class = "container">
      <%= yield %>  
    </div>
    <%= render 'layouts/footer' unless root_path %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
